.Card {
  border: 1px solid hsl(208, 37%, 20%);
  border-radius: 8px;
  cursor: pointer;
  max-width: 340px;
  overflow: hidden;
}

.Card:hover {
  box-shadow: 1px 1px 2px hsla(208, 37%, 20%, 0.5);
}

.Card_img {
  max-width: 100%;
  object-position: center;
  object-fit: cover;
}

.Card a {
  display: block;
  min-height: 40px;
  width: 100%;
}